.mui-bar-nav a {
	color: white;
}

.mui-content {
	margin-top: 2px;
}

.colorBg {
	background: -moz-linear-gradient(top, #34dbfc 0%, #61a7fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1fd5e6), color-stop(100%, #21b6f8));
	background: -webkit-linear-gradient(top, #34dbfc 0%, #61a7fd 100%);
	background: -o-linear-gradient(top, #34dbfc 0%, #61a7fd 100%);
	background: -ms-linear-gradient(top, #34dbfc 0%, #61a7fd 100%);
	background: linear-gradient(to bottom, #34dbfc 0%, #61a7fd 100%);
}

.font-seal {
	font-size: 10px;
	z-index: 2;
	position: absolute;
	right: 14px;
	top: 25px;
	border: 1px solid #F73A3C;
	transform: rotate(25deg);
	width: 43px;
	line-height: 20px;
	text-align: center;
	color: #F73A3C;
	font-weight: bold;
}

.font-seal-ok {
	font-size: 10px;
	z-index: 2;
	position: absolute;
	right: 14px;
	top: 25px;
	border: 1px solid #00ff7f;
	transform: rotate(25deg);
	width: 43px;
	line-height: 20px;
	text-align: center;
	color: #00ff7f;
	font-weight: bold;
<<<<<<< HEAD
}
=======
}

.font-seal-wait {
	font-size: 10px;
	z-index: 2;
	position: absolute;
	right: 14px;
	top: 25px;
	border: 1px solid #d7b700;
	transform: rotate(25deg);
	width: 43px;
	line-height: 20px;
	text-align: center;
	color: #d7b700;
	font-weight: bold;
}

.font-seal-cancel {
	font-size: 10px;
	z-index: 2;
	position: absolute;
	right: 14px;
	top: 25px;
	border: 1px solid #bcbcbc;
	transform: rotate(25deg);
	width: 43px;
	line-height: 20px;
	text-align: center;
	color: #bcbcbc;
	font-weight: bold;
}

/*header 用户名居于右侧*/
.title-right1 {
	float: right;
	line-height: 44px !important;
}
.mui-badge1 {
					padding: 0px;
					width: 65%;
					float: right;
					line-height: 42px;
					font-size: 14px;
				}
>>>>>>> b7a15797487a559a4752027e9fd1b91ad8bf8e33
