<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>报工审核</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/jquery-1.11.1.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/template-web.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/comment.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
	</head>
	<body class="mui-fullscreen">
		<header class="mui-bar mui-bar-nav colorBg">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">报工审核</h1>
		</header>
		<div class="mui-content">
			 <ul class="mui-table-view"> 
			        <li class="mui-table-view-cell mui-collapse mui-active">
			            <a class="mui-navigate-right" href="#">工单信息</a>
			            <div class="mui-collapse-content">
			                <p>工单号:&nbsp; <span id="task_no"></span></p>
			                	<p>工序-设备:&nbsp;<span id="proc_equ"></span></p>
			                	<p>产品名称:&nbsp;<span id="board_name"></span></p>
			                	<p>工单数量:&nbsp;<span id="plan_qty"></span></p>
			                	<p>完成数量:&nbsp;<span id="complete_qty"></span></p>
								<p>组长:&nbsp;<span id="captain"></span></p>
								<p>质量:&nbsp;<span id="quality"></span></p>
			                </div>
			        </li>
			    </ul>
			
			<div id="contentId">
			</div>
			<input id="tcode" type="hidden">
		</div>

		<div class="mui-content-padded" align="center">
			<button type="button" class="mui-btn mui-btn-success" style="width: 100%;" id="submit">提 交 审 核</button>
		</div>
		<script id='record-template' type="text/template">
			<% for(var i in record){ var item=record[i]; var check = $imports.checkInput(item);  var verify= $imports.checkVerify(item)%>	
		<div class="mui-card">
		<div class="mui-card-header "><%=(item.PERSON_NAME)%>(<%=(item.STAFF_NO)%>)</div>
		<div class="mui-card-content mui-navigate-right" id="list" >
			<ul class="mui-table-view " detail-data='<%=(item)%>'>
			<li class="mui-table-view-cell" >
			{{if verify}}
			<div class="font-seal-ok">已审核</div>
			{{else}}
			<div class="font-seal">未审核</div>
			{{/if}}	
				
				<div class="mui-input-row">
					<label>审核数量：</label>
					<input name="audit_qty" type="number"  {{check}} value="<%=(item.AUDIT_QTY)%>" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
				</div>
				<div class="mui-input-row">
					<label>合格品数：</label>
					<input name="qualified_qty" type="number" disabled value="<%=(item.QUALIFIED_QTY)%>" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
				</div>
				<div class="mui-input-row">
					<label>不合格数：</label>
					<input name="unqualified_qty" type="number" {{check}} value="<%=(item.UNQUALIFIED_QTY)%>" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
				</div>
				<input name="id" type="text" style="display: none;" disabled value="<%=(item.ID)%>">
			</li>
			</ul>
		</div>
		</div>
		<%}%>
		</script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() { //页面返回时触发
					var list = plus.webview.currentWebview().opener();
					mui.fire(list, 'refresh'); //refresh是A页面自定义事件
					return true; //返回true,继续页面关闭逻辑
				}
			})
			window.addEventListener('refresh', function(e) { //监听页面返回事件
				window.location.reload(); //执行刷新
			});
			mui.plusReady(function() {
				var param = plus.webview.currentWebview(); //获取父页面传递过来的参数
				var detail = param.detail;
				var child = param.child_data;
				ch_data = JSON.parse(child)
				de_data=JSON.parse(detail)
				$('#tcode').val(ch_data.TECHNICS_CODE);
				//console.log(JSON.stringify(ch_data))
				//console.log(JSON.stringify(de_data))
				showDetailData(detail, child);
				getProduceVerifyDetail(detail, ch_data.EQU_CODE, ch_data.WORPROC_CODE, ch_data.TECHNICS_CODE);
				mui("#contentId").on("tap", "ul", function() {
					var detail_data = this.getAttribute('detail-data'); //详细信息
					//console.log(detail_data)
					detail_data=JSON.parse([detail_data])
					
					if(detail_data.VERIFY=="0"||detail_data.VERIFY_01=="0"){//只有未审核才可以查看明细修改
						OpenWindow('personal_produce_detail', 'personal_produce_detail.html', {
							"order":de_data,
							"pl_param": detail_data,
							"child":child,
							"role":de_data.Role
						})
					}
				})
			})

			template.defaults.imports.checkInput = function(item) {//判断是否可以修改input
				var role=api_localStorageGet("role")// VERIFY/VERIFY_01: 0:未审核 1：已审核
				if(role=="OperatingPersonnel"&&item.VERIFY=="0"){
					return "";
				}else if(role=="'QualityInspectors"&&item.VERIFY_01=="0"){
					return "";
				}
				return "disabled";
			};
			template.defaults.imports.checkVerify = function(item) {//判断状态显示
				var role=api_localStorageGet("role")// VERIFY/VERIFY_01: 0:未审核 1：已审核
				if(role=="OperatingPersonnel"&&item.VERIFY=="1"){
					return true;
				}else if(role=="'QualityInspectors"&&item.VERIFY_01=="1"){
					return true;
				}
				return false;
			};

			function showDetailData(detail, child) {
				var data = JSON.parse(detail)
				var child_data = JSON.parse(child)
				$("#task_no").text(data.TASK_NO); //工单号
				$("#board_name").text(data.PRO_NAME); //产品名称
				$("#proc_equ").text(child_data.TECHNICS_NAME) ;//+ " - " + child_data.EQU_NAME); //工序名称-设备名称
				$("#plan_qty").text(data.PLAN_QTY); //工单数量
				$("#complete_qty").text(child_data.COMPLETE_QTY); //完成数量
			}

			function getProduceVerifyDetail(detail, EQU_CODE, PROC_NO, TECHNICS_CODE) {
				var de_data = JSON.parse(detail)
				//alert(TECHNICS_CODE);
				aj.post('/produce_verify/getProduceVerifyDetail', {
					usercode: api_localStorageGet("code"),
					proc: PROC_NO,
					taskNo: de_data.TASK_NO,
					eq_code: EQU_CODE, 
					tcode:TECHNICS_CODE
				}, function(data) {
					//console.log(JSON.stringify(data))
					if (data.result) {
						var list= data.data
						if(list[0].VERIFY==1){
							$("#captain").text("已审核"); 
						}else{
							$("#captain").text("未审核"); 
						}
						if(list[0].VERIFY_01==1){
							$("#quality").text("已审核"); 
						}else{
							$("#quality").text("未审核"); 
						}
						document.getElementById('contentId').innerHTML = template('record-template', {
							"record":list
						});
					} else {
						mui.alert(data.msg,function(){
							mui.back()
						});
					}
				});
			}

			//监听点击事件 —— 提交审核
			document.getElementById("submit").addEventListener("tap", function() {
				var btnArray = ['取消', '提交'];
				mui.confirm("确认提交本次审核？", '提示', btnArray, function(e) {
					if (e.index == 1) {
						submitResult();
					}
				})
			});
			
			function submitResult() {
				aj.post('/produce_verify/sumbitProduceVerify', {
					usercode: api_localStorageGet("code"),
					proc:ch_data.WORPROC_CODE,
					task_no:de_data.TASK_NO,
					eq_code:ch_data.EQU_CODE,
					role:de_data.Role,
					tcode:$('#tcode').val()
				}, function(data) {
					mui.alert(data.msg,function(){
						mui.back()
					});
				});
			}
		</script>
	</body>
</html>
