<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/template-web.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/comment.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
	</head>
	<body class="mui-fullscreen">
		<header class="mui-bar mui-bar-nav colorBg">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">报工审核</h1>
		</header>
		<div class="mui-content" id="contentId"> 
		</div>
		<script id='record-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>	
			<div class="mui-card">
				<div class="mui-card-header">
					产品名称: <%=(item.PRO_NAME)%>
				</div>
				<div class="mui-card-content">
					<ul class="mui-table-view">
						<% for(var j in item.Child){ var item1=item.Child[j]; %>	
					    <li class="mui-table-view-cell mui-media" detail-data='<%=(item)%>' child-data='<%=(item1)%>'>
					        <a href="javascript:;" class="mui-navigate-right">
								{{if item1.PRODUCE_STATE=="生产中"}}
								<div class="font-seal-wait"><%=(item1.PRODUCE_STATE)%></div>
								{{else if item1.PRODUCE_STATE=="待生产"||item1.PRODUCE_STATE=="停工"||item1.PRODUCE_STATE=="暂停"}}
								<div class="font-seal"><%=(item1.PRODUCE_STATE)%></div>
								{{else}}
								<div class="font-seal-ok"><%=(item1.PRODUCE_STATE)%></div>
								{{/if}}
					            <span class="mui-media-object mui-pull-left mui-icon iconfont icon-baozhuang" style="color: #ADD8E6;font-size:1.875rem"></span>
					            <div class="mui-media-body">
					                <%=(item1.EQU_NAME)%>-<%=(item1.EQU_CODE)%>
					                <p class='mui-ellipsis'>
										工序:<%=(item1.TECHNICS_NAME)%>
									</p>
					            </div>
					        </a>
					    </li>
						<%}%>
					</ul>
				</div>
				<div class="mui-card-footer">
					<span>工单号:<%=(item.TASK_NO)%></span>
					<span>产品编码：<%=(item.PRO_CODE)%></span>
				</div>
			</div>
			<%}%>
		</script>

		<script type="text/javascript" charset="utf-8">
			window.addEventListener('refresh', function(e) { //监听页面返回事件
				window.location.reload(); //执行刷新
			});
			mui.plusReady(function() {
				getProduceVerifyList(); //获取待开工审核列表
				mui("#contentId").on("tap", "li", function() {
					var detail_data = this.getAttribute('detail-data'); //详细信息
					var child_data=this.getAttribute('child-data');

					OpenWindow('produce_verify_detail', 'produce_verify_detail.html', {
						"detail": detail_data,
						"child_data":child_data
					})
				})
			})

			function getProduceVerifyList() {
				aj.post('/produce_verify/getProduceVerifyList', {
					usercode: api_localStorageGet("code")
				}, function(data) {
					if (data.result) {
						//console.log(JSON.stringify(data.data)) 
						api_localStorageSave("role", data.data[0].Role);
						 document.getElementById('contentId').innerHTML = template('record-template', {
							"record": data.data
						}); 
					} else {
						mui.alert(data.msg,function(){
							mui.back()
						});
					}
				});
			}
		</script>
	</body>
</html>
